Preprocessing for Movies dataset

In [56]:
import pandas as pd
import re

# Load movies file
movies = pd.read_csv("movies.csv")

# Show first 5 rows before cleaning
print("First 5 rows before cleaning:")
print(movies.head())

First 5 rows before cleaning:
   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy

In [57]:
# Check for missing values
print("\nMissing values per column:")
print(movies.isna().sum())
print(movies.sum())

Missing values per column:
movieId    0
title      0
genres     0
dtype: int64
movieId                                          13807894849
title      Toy Story (1995)Jumanji (1995)Grumpier Old Men...
genres     Adventure|Animation|Children|Comedy|FantasyAdv...
dtype: object

In [58]:
# Check for duplicate rows (all columns)
print("\nNumber of duplicate rows:", movies.duplicated().sum())

Number of duplicate rows: 0

In [59]:
movies.shape

(87585, 3)

In [60]:
movies_clean = movies.copy()

# Extract year using regex (text inside parentheses at the end)
movies_clean["year"] = movies_clean["title"].str.extract(r"\((\d{4})\)")

# Create clean_title by removing the year in parentheses
movies_clean["clean_title"] = movies_clean["title"].str.replace(r"\(\d{4}\)", "", regex=True).str.strip()

# Show sample of original vs cleaned
print(movies_clean[["title", "clean_title", "year"]].head(10))

                                title                  clean_title  year
0                    Toy Story (1995)                    Toy Story  1995
1                      Jumanji (1995)                      Jumanji  1995
2             Grumpier Old Men (1995)             Grumpier Old Men  1995
3            Waiting to Exhale (1995)            Waiting to Exhale  1995
4  Father of the Bride Part II (1995)  Father of the Bride Part II  1995
5                         Heat (1995)                         Heat  1995
6                      Sabrina (1995)                      Sabrina  1995
7                 Tom and Huck (1995)                 Tom and Huck  1995
8                 Sudden Death (1995)                 Sudden Death  1995
9                    GoldenEye (1995)                    GoldenEye  1995

Preprocessing for Rating dataset

In [61]:
import pandas as pd

# Load ratings file
ratings = pd.read_csv("ratings.csv")

# Show first 5 rows before cleaning
print("First 5 rows before cleaning:")
print(ratings.head())

First 5 rows before cleaning:
   userId  movieId  rating  timestamp
0       1       17     4.0  944249077
1       1       25     1.0  944250228
2       1       29     2.0  943230976
3       1       30     5.0  944249077
4       1       32     5.0  943228858

In [62]:
#1. Check missing values
print("\nMissing values per column:")
print(ratings.isna().sum())

Missing values per column:
userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [63]:
ratings.shape

(32000204, 4)

In [64]:
# 2. Validate rating values (must be between 0 and 5)
print("\nRating stats before filtering:")
print(ratings["rating"].describe())

ratings = ratings[(ratings["rating"] >= 0) & (ratings["rating"] <= 5)]

Rating stats before filtering:
count    3.200020e+07
mean     3.540396e+00
std      1.058986e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64

In [65]:
# 3. Remove duplicates
print("\nNumber of duplicate rows:", ratings.duplicated().sum())

Number of duplicate rows: 0

In [66]:
# 4. Convert timestamp to datetime
ratings["datetime"] = pd.to_datetime(ratings["timestamp"], unit="s")

group the two dataset

In [67]:
import pandas as pd
    

# Merge them on movieId
merged = pd.merge(ratings, movies_clean, on="movieId", how="inner")

In [68]:
# Show first 5 rows
print("First 5 rows after merge:")
print(merged.head())

First 5 rows after merge:
   userId  movieId  rating  timestamp            datetime  \
0       1       17     4.0  944249077 1999-12-03 19:24:37
1       1       25     1.0  944250228 1999-12-03 19:43:48
2       1       29     2.0  943230976 1999-11-22 00:36:16
3       1       30     5.0  944249077 1999-12-03 19:24:37
4       1       32     5.0  943228858 1999-11-22 00:00:58

                                               title  \
0                       Sense and Sensibility (1995)
1                           Leaving Las Vegas (1995)
2  City of Lost Children, The (Cité des enfants p...
3  Shanghai Triad (Yao a yao yao dao waipo qiao) ...
4          Twelve Monkeys (a.k.a. 12 Monkeys) (1995)

                                   genres  year  \
0                           Drama|Romance  1995
1                           Drama|Romance  1995
2  Adventure|Drama|Fantasy|Mystery|Sci-Fi  1995
3                             Crime|Drama  1995
4                 Mystery|Sci-Fi|Thriller  1995

                                         clean_title
0                              Sense and Sensibility
1                                  Leaving Las Vegas
2  City of Lost Children, The (Cité des enfants p...
3      Shanghai Triad (Yao a yao yao dao waipo qiao)
4                 Twelve Monkeys (a.k.a. 12 Monkeys)

In [69]:
# Check shape before vs after merge
print("\nRatings count before merge:", ratings.shape[0])
print("Ratings count after merge:", merged.shape[0])

Ratings count before merge: 32000204
Ratings count after merge: 32000204

In [70]:
print(merged.isnull().sum())

userId             0
movieId            0
rating             0
timestamp          0
datetime           0
title              0
genres             0
year           35153
clean_title        0
dtype: int64

In [72]:

merged = merged.dropna(subset=['year'])
merged = merged.dropna(subset=['clean_title'])


print(merged.isnull().sum())

userId         0
movieId        0
rating         0
timestamp      0
datetime       0
title          0
genres         0
year           0
clean_title    0
dtype: int64

In [73]:
merged.head()

,userId,movieId,rating,timestamp,datetime,title,genres,year,clean_title
0,1,17,4.0,944249077,1999-12-03 19:24:37,Sense and Sensibility (1995),Drama|Romance,1995,Sense and Sensibility
1,1,25,1.0,944250228,1999-12-03 19:43:48,Leaving Las Vegas (1995),Drama|Romance,1995,Leaving Las Vegas
2,1,29,2.0,943230976,1999-11-22 00:36:16,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi,1995,"City of Lost Children, The (Cité des enfants p..."
3,1,30,5.0,944249077,1999-12-03 19:24:37,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama,1995,Shanghai Triad (Yao a yao yao dao waipo qiao)
4,1,32,5.0,943228858,1999-11-22 00:00:58,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller,1995,Twelve Monkeys (a.k.a. 12 Monkeys)

In [74]:
merged.shape

(31965051, 9)

In [75]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31965051 entries, 0 to 32000203
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   userId       int64
 1   movieId      int64
 2   rating       float64
 3   timestamp    int64
 4   datetime     datetime64[ns]
 5   title        object
 6   genres       object
 7   year         object
 8   clean_title  object
dtypes: datetime64[ns](1), float64(1), int64(3), object(4)
memory usage: 2.4+ GB

In [ ]:
# Save cleaned file
merged.to_csv("data_cleaning_forProjict.csv", index=False)